

<div style="max-width: 55rem;" class="sidebar-sticky">
  <div  class="sidebar-about">
    {% if site.logo %}
      <a class="no-hover" href="{{ '/' | relative_url }}" tabindex="-1">
        <img src="{% include_cached smart-url url=site.logo %}" class="avatar" alt="{{ site.short_title | default:site.title }}" width="120" height="120" loading="lazy" />
      </a>
    {% endif %}  
<div >
      <a class="sidebar-title" href="{{ '/' | relative_url }}"><h2 class="h1">{{ site.short_title | default:site.title }}</h2></a>
  <p  style="font-size: 20px">

                              Vision and Graph Group (VGG) is affiliated with the PCA Lab, School of Computer Science and Engineering, Nanjing University of Science and Technology.<br>
                              The VGG’s study covers Computer Vision (CV) and Artificial Intelligence (AI). Specifically, the study group focuses on graph learning (graph neural network), vision perception & computation (segmentation/detection/tracking), face analysis (emotion), etc. In addition, VGG also pays attention to many applications such as anomaly detection, intelligent agent, etc.
                              The study group aims to develop/create novel intelligent theories/methods to solve some key problems in CV & AI.<br>
                              Currently, the group contains more than 30 members totally, four full-time teachers among them.
                              Please see the internal website for more details.</p>
 </div>
    
 
    

    {% assign text = site.tagline | default:site.description %}
    {% if text %}
      <p class="{% if text.size > 100 %}fine{% endif %}">
        {{ text | markdownify | replace:'<p>','' | replace:'</p>','' }}
      </p>
    {% endif %}
  </div>

  <nav class="sidebar-nav heading" role="navigation">
    {% include body/nav.html %}
  </nav>

  {% assign author = site.data.authors.first[1] | default:site.author %}
 
                    

